{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}

{{ form_row(form._token) }}

<div class="form-group">
  {{ form_label(form.titulo) }}
  {{ form_widget(form.titulo) }}
  {{ form_errors(form.titulo) }}
</div>

<div class="form-group">
  {{ form_label(form.telefone) }}
  {{ form_widget(form.telefone) }}
  {{ form_errors(form.telefone) }}
</div>

<div class="form-group">
  {{ form_label(form.endereco) }}
  {{ form_widget(form.endereco) }}
  {{ form_errors(form.endereco) }}
</div>

<div class="form-group">
  {{ form_label(form.cep) }}
  {{ form_widget(form.cep) }}
  {{ form_errors(form.cep) }}
</div>

<div class="form-group">
  {{ form_label(form.cidade) }}
  {{ form_widget(form.cidade) }}
  {{ form_errors(form.cidade) }}
</div>

<div class="form-group">
  {{ form_label(form.estado) }}
  {{ form_widget(form.estado) }}
  {{ form_errors(form.estado) }}
</div>

<div class="form-group">
  {{ form_label(form.descricao) }}
  {{ form_widget(form.descricao) }}
  {{ form_errors(form.descricao) }}
</div>

<div class="form-group">
  {{ form_label(form.categoria) }}
  {{ form_widget(form.categoria) }}
  {{ form_errors(form.categoria) }}
</div>

{{ form_widget(form.enviar) }}